@use '../../../styles/variables' as *;

.neuralCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 1; // Explicitly map layers over background colors
  opacity: 1; 
}